.main {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.section {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 4rem 0;
  font-size: 3rem;
  color: var(--call-to-action);
}

.balance {
  font-size: 2rem;
}
