.main {
  height: 100%;
  width: 100%;
  display: grid;
  /* overflow-x: hidden; */
}

.section {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 4rem 0;
  font-size: 3rem;
  color: var(--call-to-action);
}

.balance {
  font-size: 2rem;
}

.walletsContainer {
  margin-top: 2rem;
  padding: 3rem;
  display: grid;
  grid-gap: 1rem 1rem;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  /* place-items: center; */
}

.wallet {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 1.5rem 2rem;
  padding-top: 0;
  gap: 2rem;
}

.WalletNumber {
  display: flex;
  width: 100%;
  font-weight: bolder;
  font-size: 1.5rem;
  padding-top: 1rem;
  justify-content: space-between;
}

.keyContainer {
  font-weight: bold;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 0.3fr;
}

.keyContainer input {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
}

.wallet_blockchain {
  font-weight: bold;
  top: 0.3rem;
  right: 9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.solanaLogo {
  height: 1.5rem;
}

.copyIcon {
  color: var(--call-to-action);
  align-self: center;
  padding: 0.5rem;
  cursor: pointer;
}

.selectedWalletWrapper {
  position: absolute;
  left: 5rem;
  bottom: 1rem;
  color: white;
  display: grid;
  place-items: center;
  font-weight: bolder;
  font-size: 1.2rem;
  gap: 1rem;
  cursor: pointer;
  margin: 0 0 2rem 0;
}

.selectWalletDropdownOptions {
  border-radius: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 1.04rem;
  gap: 1rem;
  min-width: 6rem;
}

.selectedWallet {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.walletOption {
  width: 100%;
  padding: 0 2rem;
}
