.main {
  height: 100%;
  width: 100%;
  display: grid;
  overflow-x: hidden;
}

.section {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 4rem 0;
  font-size: 3rem;
  color: var(--call-to-action);
}

.balance {
  font-size: 2rem;
}

.walletsContainer {
  margin-top: 2rem;
  padding: 3rem;
  display: grid;
  grid-gap: 1rem 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  /* place-items: center; */
}

.wallet {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 3rem 2rem;
  gap: 2rem;
}

.keyContainer {
  font-weight: bold;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 0.3fr;
}

.keyContainer input {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
}

.wallet_blockchain {
  font-weight: bold;
  position: relative;
  top: 1.8rem;
  right: 9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.solanaLogo {
  height: 2rem;
}

.copyIcon {
  color: var(--call-to-action);
  align-self: center;
  padding: 0.5rem;
  cursor: pointer;
}
