.sidebarContainer {
  background-color: var(--call-to-action);
  place-self: center;
  height: 96%;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1rem;
  border-radius: 0.5rem;
  z-index: 100;
}

.openCloseBtnDiv {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: var(--call-to-action);
  width: 5rem;
  height: 5rem;
  right: 1.5rem;
  border-radius: 12rem;
  z-index: -1;
}

.openCloseBtn {
  position: relative;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
  right: 1.7rem;
  cursor: pointer;
}

.userContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  gap: 2rem;
  padding-top: 2rem;
  overflow-y: scroll;
}

.user {
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 20rem;
  cursor: pointer;
}

.activeUser {
  font-weight: bold;
  color: var(--call-to-action);
  background-color: white;
  padding: 0.8rem;
  border-radius: 20rem;
  cursor: pointer;
  border: 0.4rem solid black;
}

.addAccountPlusContainer {
  margin-bottom: 1rem;
}

.addAccountPlus {
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 20rem;
  cursor: pointer;
}
