body {
  margin: 0;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-element {
}
