.categories-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 3rem 6rem;
  grid-gap: 1rem;
}

.category-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.category-div h3 {
  padding: 1rem 0.5rem;
  font-size: 1rem;
}

.todos-container {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.todo-div {
  padding: 1rem;
  background-color: var(--fg-secondary);
  border-radius: 0.3rem;
  border: 1px solid var(--bg-primary);
}

.todo-div h2 {
  font-size: 1.4rem;
  font-weight: 900;
}

.todo-div p {
  color: var(--bg-primary);
  font-weight: 900;
}

.addTodoBtn {
  background-color: var(--bg-secondary);
  color: var(--fg-primary);
  padding: 1rem;
  display: flex;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 900;
}

.addTodoBtn:hover {
  opacity: 90%;
}

.urgency-label {
  position: relative;
  display: inline-flex;
  font-size: 0.9rem !important;
  color: white;
  padding: 0.2rem 1.3rem !important;
  border-radius: 2rem;
  cursor: pointer;
}

.urgency-options {
  position: absolute;
  top: 1.7rem;
  left: -0.5rem;
  padding-top: 0.5rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  transition: display 1s;
  z-index: 2000;
}

.options-hidden {
  display: none !important;
}

.urgency-option {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: opacity ease-in-out 0.1s;
  background-color: var(--bg-primary);
  padding: 0.3rem 1rem;
}

.urgency-option:hover {
  opacity: 80%;
}

.meta-data-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.todo-footer-div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.delete-btn {
  font-family: Font Awesome\5 Free;
  color: #ff6b6b;
  cursor: pointer;
  padding: 1rem;
}

.text-container textarea {
  background: transparent;
  display: flex;
  width: 100%;
  resize: none;
}

.text-container textarea:focus {
  outline: 1px solid var(--bg-primary);
  border-radius: 0.3rem;
}

.todo-title {
  font-weight: 900;
  font-size: 1.1rem;
}
