* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

/*Global Collor pallet variables*/
:root {
  --secondary-bg-color: #1e201e;
  --primary-bg-color: #3c3d37;
  --secondary-fg-color: #697565;
  --primary-fg-color: #ecdfcc;
  --catpuccin-peach: #fe640b;
  --catpuccin-green: #40a02b;
  --catpuccin-teal: #179299;
  --checkbox-accent-color: #e95420;
}

body {
  font-family: "Alpino", sans-serif;
  height: 100vh;
  background-color: var(--secondary-bg-color);
}

/*the main wrapper around all the content*/
.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center; /*along the main axis*/
}

.outer-container h1 {
  color: var(--primary-fg-color);
  font-size: 3.5rem;
  margin-top: 4rem;
}

.input-container {
  margin: 4rem 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 0 1rem;
}

.input-container input {
  border: none;
  outline: none;
  background-color: var(--primary-fg-color);
  font-size: 18px;
  font-weight: bold;
  padding: 0.5rem;
}

.input-container input::placeholder {
  font-weight: 500;
}

.todo-container {
  display: grid;
  gap: 1rem;
}

.todo-item {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.todo-item .input-field {
  background-color: var(--primary-fg-color);
  border: none;
  border-radius: 2px;
  height: 1.5rem;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
}

.todo-item .checkbox:checked {
  accent-color: var(--checkbox-accent-color);
}

@media (max-width: 810px) and (min-width: 100px) {
  .input-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    width: 24rem;
  }

  .input-container input {
    grid-column: span 2;
  }

  .input-container button {
    margin: 0;
  }

  .todo-container {
    gap: 0.5rem;
  }

  .todo-item {
    gap: 0.4rem;
  }

  .todo-item input {
    padding: 0.5rem;
  }
}
