/*Global Collor pallet variables*/
:root {
  --primary-bg-color: rgb(95, 111, 101);
  --secondary-bg-color: rgb(128, 141, 124);
  --primary-fg-color: rgb(156, 169, 134);
  --secondary-fg-color: rgb(201, 218, 191);
}

body {
  font-family: sans-serif;
  margin: 0;
}

/*the main wrapper around all the content*/
.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center; /*along the main axis*/
  padding-top: 8rem;
}

.input-field-container {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
}

.input-field-container .button-container {
}
.input-field-container button {
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 10px 25px;
  border: none;
  background-color: var(--secondary-fg-color);
  border-bottom: 3px solid var(--primary-fg-color);
  border-radius: 2px;
  color: var(--primary-bg-color); /*Color is used for text color*/
}
.input-field-container button:hover {
  cursor: pointer;
  color: white;
}
.input-field-container button:active {
  color: white;
  border-bottom: 3px solid var(--primary-fg-color);
  background-color: var(--primary-fg-color);
}
.input-field-container input {
  width: clamp(175px, 15vw, 300px);
  height: 30px;
}

.todo-container {
}

.todo-item .checkbox {
}

.todo-item .input-field {
  background-color: white;
  border: none;
  border-radius: 2px;
}
