.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: white;
  position: relative;
}

.main h1 {
  font-weight: 500;
  font-size: 2em;
  padding: 1.5rem 0;
}

.main p {
  font-size: 16px;
}

.blockchainContainer {
  display: grid;
  grid-gap: 1rem 0;
  padding: 4.5rem 1rem;
  width: 30rem;
}

.blockchainBlock {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* background-color: var(--bg-compilent-color); */
  font-size: 12px;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  transition: opacity 0.25s;
  cursor: pointer;
}

.blockchainBlock:hover {
  opacity: 50%;
}

.blockchainBlock h2 {
  font-weight: 500;
}

.solanaLogo {
  width: 40px;
  height: 40px;
}

.etheriumLogo {
  width: 40px;
  height: 40px;
}
